.setting-search-wrapper {
	position: relative;
}

.setting-search-result {
	display: block;
	width: 100%;
	padding: var(--u1) var(--u3);
	background: var(--tertiary);
}

.setting-search {
	position: relative;
}

.setting-search-results {
	border-radius: var(--u3);
	position: absolute;
	width: calc(100% + 1.5px);
	margin-left: -0.75px;
	border: 1px solid var(--tertiary);
	border-top: 0;
	z-index: 5;
	padding-top: 1rem;
	margin-top: -1rem;
	display: flex;
	flex-direction: column;
	max-height: 15rem;
	overflow-y: auto;
}

.setting-search-wrapper::before,
.setting-search-wrapper::after {
	content: '';
	position: absolute;
	width: .5rem;
	height: 1rem;
	background: var(--tertiary);
	bottom: 0;
	z-index: 10;
	display: none;
}

.setting-search-wrapper.active::before,
.setting-search-wrapper.active::after {
	display: block;
}

.setting-search-wrapper.above > .setting-search-results {
	transform: translateY(-100%);
	margin-top: -1.8rem;
	border-bottom: 0;
	padding-top: 0;
}

.setting-search-wrapper.above::before,
.setting-search-wrapper.above::after {
	top: -.25rem !important;
}

.setting-search-wrapper::before {
	left: 0;
}

.setting-search-wrapper::after {
	left: calc(100% - .5rem);
}

input.setting-search {
	cursor: pointer;
}