@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
:root {
	--u1: 0.25rem;
	--u2: 0.5rem;
	--u3: 0.75rem;
	--u4: 1rem;
	--text-small: 0.8rem;
	--animation-duration-short: 150ms;
	--animation-duration-medium: 250ms;
	--animation-duration-long: 500ms;
	--shadow-light: 0 0 .125rem 0 rgba(0, 0, 0, .075);
	--shadow-heavy: 0 0 .5rem 0 rgba(0, 0, 0, .25);
	--shadow-popup: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

/* MAIN ELEMENTS */

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	background: var(--primary);
	font-family: 'Open Sans', sans-serif;
}

/* BOOTSTRAP */

.row {
	margin: 0;
}

[class*="col-"],
.col {
	padding: 0;
}

.flex-row {
	gap: var(--u2);
}

/* COLORS */

.bg-primary {background: var(--primary) !important; }
.bg-secondary {background: var(--secondary) !important; }
.bg-info {background: var(--info) !important; }
.bg-danger {background: var(--danger) !important; }
.bg-warning {background: var(--warning) !important; }
.bg-success {background: var(--success) !important; }
.bg-debug {background: var(--debug) !important; }
.bg-tertiary {background: var(--tertiary) !important; }
.bg-caution {background: var(--caution) !important; }

.border-primary {border-color: var(--primary) !important; }
.border-secondary {border-color: var(--secondary) !important; }
.border-info {border-color: var(--info) !important; }
.border-danger {border-color: var(--danger) !important; }
.border-warning {border-color: var(--warning) !important; }
.border-success {border-color: var(--success) !important; }
.border-debug {border-color: var(--debug) !important; }
.border-tertiary {border-color: var(--tertiary) !important; }
.border-caution {border-color: var(--caution) !important; }

.border-top { border-top-width: 0.25rem !important; }
.border-right { border-right-width: 0.25rem !important; }
.border-bottom { border-bottom-width: 0.25rem !important; }
.border-left { border-left-width: 0.25rem !important; }

.text-muted {color: var(--text-muted) !important; }
.text-default {color: var(--text) !important; }
.text-info {color: var(--info) !important; }
.text-danger {color: var(--danger) !important; }
.text-warning {color: var(--warning) !important; }
.text-success {color: var(--success) !important; }
.text-debug {color: var(--debug) !important; }
.text-tertiary {color: var(--tertiary) !important; }
.text-caution {color: var(--caution) !important; }

.btn-primary::after {background: var(--primary) !important; }
.btn-secondary::after {background: var(--secondary) !important; }
.btn-info::after {background: var(--info) !important; }
.btn-danger::after {background: var(--danger) !important; }
.btn-warning::after {background: var(--warning) !important; }
.btn-success::after {background: var(--success) !important; }
.btn-debug::after {background: var(--debug) !important; }
.btn-tertiary::after {background: var(--tertiary) !important; }
.btn-caution::after {background: var(--caution) !important; }6) !important; }