@media (prefers-reduced-motion) {
	.btn::after,
	#module-sidenav,
	.dropdown-search-results,
	input.dropdown-search {
		transition-duration: 0ms !important;
		transition-delay: 0ms !important;
	}
}

html[prefers-reduced-motion="true"] .btn::after,
html[prefers-reduced-motion="true"] #module-sidenav,
html[prefers-reduced-motion="true"] .dropdown-search-results,
html[prefers-reduced-motion="true"] input.dropdown-search {
	transition-duration: 0ms !important;
	transition-delay: 0ms !important;
}